<div class="tabbed-menu">
    <ul class="tab-list">
        <li
                *ngFor="let tab of tabs"
                class="tab-item"
                [class.active]="isTabActive(tab)"
                (click)="selectTab(tab)"
        >
            {{ tab.label }}
        </li>
    </ul>
    <ul class="sub-tab-list">
        <li
                *ngFor="let subTab of getSelectedTab()?.children"
                class="sub-tab-item"
                [class.active]="subTab.active"
                (click)="selectSubTab(subTab, getSelectedTab()!); $event.stopPropagation()"
        >
            {{ subTab.label }}
        </li>
    </ul>
    <div class="tab-content" *ngIf="getSelectedTab()">
        <ng-container *ngIf="getSubSelectedTab(getSelectedTab()!)?? getSelectedTab() as selectedTab">
            <ng-container *ngIf="selectedTab.component as component; else textContent">
                <ng-container *ngComponentOutlet="component"></ng-container>
            </ng-container>
            <ng-template #textContent>
                {{ selectedTab.content }}
            </ng-template>
        </ng-container>
    </div>
</div>
